
$purple: #2c3e50;
$darkpurple: #1D2237;
// $discopurple: #7579ff;
$gold: #ffc107;
$discopurple: yellow;
// $pinky: #b224ef;
$pinky: #efbe24;
$darkerpurple: #1B2132;
$text-color:  #777;
$grey-secondary: #1b1f22;
$yellow:rgb(239, 223, 13);
$neath-grey: #343a40;
$white: #fff;