// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

 @mixin icon-gradient() {
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
  }

  @mixin vertical-center(){
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

  }

	//list of colors
	$colors-list:Yellow , #20639B, #3CADA2;
	//define mixin
	@mixin color($color){
	color: $color;
	}
	@mixin bgcolor($color){
	background-color: $color;
	}

  @mixin breakpoint($class) {
	@if $class == xs {
	  @media (min-width: 767px) { @content; }
	}
   
	@else if $class == sm {
	  @media (min-width: 768px) { @content; }
	}
   
	@else if $class == md {
	  @media (min-width: 992px) { @content; }
	}
   
	@else if $class == lg {
	  @media (min-width: 1200px) { @content; }
	}
   
	@else {
	  @warn "Breakpoint mixin supports: xs, sm, md, lg";
	}
  }


  @-webkit-keyframes pulse {
	0% {
		box-shadow: inset 0 0 0 -500px rgba(blue,0.6);
		
	}
	70% {
		box-shadow: inset 0 0 0 100px rgba(blue,0.6);
	
	}
	100% {
		box-shadow: inset 0 0 0 -1000px rgba(blue,0.6);
		
	
		
	}
  }
  @keyframes pulse {
	0% {
		box-shadow: inset 0 0 0 1500px rgba(blue,0.6);
		
	}
	70% {
		box-shadow: inset 0 0 0 1000px rgba(blue,0.6);
		
	}
	100% {
		box-shadow: inset 0 0 0 -1000px rgba(blue,0.6);
	
		
			
		
	}
  }

  .d-none{
	  display: none;
  }