.wrapper-social {
    position: fixed;
    top: 49%;
    padding-left: 0;
    float: left;
    display: inline;
    z-index: 300;
    @include breakpoint(md) {
        top: 70%;

    }
    

    ul {
        list-style: none;
        
        
    }
    ul li {
        width: 50px;
        height: 50px;
        margin: 10px 0;
        border-radius: 3px;
        border: 3px transparent;
        position: relative;
        cursor: pointer;
       
    }
     .fab {
        cursor: pointer;
        position: absolute;
        right:0 ;
        transform: translate(-50%,-50%);
        font-size: 20px;
        color: #555d66;
        padding: 0px;
        &:hover{
            color: white!important;
            
            
        }
        
    }
	
}




   
    



